<div class="row mt-5">
    <div class="d-flex justify-content-center">
        <div class="mb-3 w-75">
          <label for="article-title-form" class="form-label">Article Title:</label>
          <input type="text" class="form-control" id="article-title-form">
        </div>
    </div>
</div>

<div class="row">
    <div class="d-flex justify-content-center">
        <div class="mb-3 w-75">
          <label for="article-content-form" class="form-label">Article Content:</label>
          <textarea class="form-control" id="article-content-form" rows="3"></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="d-flex justify-content-center">
        <div class="mb-3 w-75">
            <button type="submit" class="btn btn-primary mt-3" id="article-form">Submit</button>
        </div>
    </div>
</div>

<script src="/js/article.js"></script>